<section class="patch-module">
    <div class="row">
        <div class="col-md-6 col-12 request-div">
            <form class="patch-form" (ngSubmit)="patchData()">
                <div class="input-div">
                    <input type="text" class="form-control" name="id" [(ngModel)]="id" placeholder="Id">
                </div>
                <div class="input-div">
                    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username">
                </div>
                <div class="input-div">
                    <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email address">
                </div>
                <div class="input-div">
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone" placeholder="Contact number">
                </div>
                <div class="input-div btn-div">
                    <button type="submit" class="btn btn-method">Patch Data</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-12 response-div">
            <p class="res-head">Response</p>
            <p class="res-body">{{responseMessage | json}}</p>
        </div>
    </div>
</section>